#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

.estiloCard{
  width: 650px;
  height: 250px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  border: 7px solid blue;
}